<form method="post" action="/detail/<%= @id %>/edit">
  <p><input type= "text" name="title" value=<%= @title %>></p>
  <p><textarea name="content"><%= @content %></textarea></p>
  <p><input type="hidden" name="_method" value="PUT"></p>
  <p><input type="submit" value="変更"></p>
</form>
